@import '../../styles/variables.css';

.photos {
    margin-top: var(--vertical-spacing);
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.photos > * {
    flex: 1 0 33.33%;
}


@media (max-width: 860px) {
    .photos > * {
        flex: 1 0 50%;
    }
}

@media (max-width: 680px) {
    .photos > * {
        flex: 1 0 100%;
    }

    .photos > div:nth-child:nth-child(odd) {
        flex: 1 0 50%;
    }

}
