@import '../../styles/variables.css';

.photos {
    margin-top: var(--vertical-spacing);
    display: flex;
    flex-flow: row wrap;
    position: relative;
}

.photo {
    flex: 1 0 33.33%;
}

.photo:nth-last-child(2):nth-child(3n) {
  min-width: 50%; /*dealing with remainders of 1 */
}


@media (max-width: 860px) {
    .photos > * {
        flex: 1 0 50%;
    }
}

@media (max-width: 680px) {
    .photos > * {
        flex: 1 0 100%;
    }

    .photos > div:nth-child:nth-child(odd) {
        flex: 1 0 50%;
    }

}
